# Git
.git
.gitignore

# IDE files
.idea
.vscode

# Binaries
ai-stocks-bot
*.exe
*.dll
*.so
*.dylib

# Environment
.env

# Logs
*.log

# MacOS
.DS_Store

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Markdown
README.md
LICENSE

# Тестовые файлы и директории
*_test.go
/test
/tests 